:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.5 var(--sans);
  color-scheme: dark;
  color: #e0e0e0;
  background: #0d0d1a;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
